name: "Build Addon"

on: [pull_request]

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build container
        uses: home-assistant/builder@master
        with:
          args: |
            --test \
            --all \
            --target babybuddy \
            --docker-hub ottpeterr
